.article-section {
    margin-top: 60px;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.article-section__left {
    max-width: 636px;
}

.article-section__left h3 {
    font-weight: 700;
    font-size: 28px;
    margin: 0;
    margin-bottom: 8px;
    color: #444;
}

.article-section__left .field--name-field-para-one {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    font-style: italic;
    color: #444;
    line-height: 1.5;
}

.left_list .field__item {
    margin: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #000;
    padding-left: 26px;
    line-height: 1.5;
    position: relative;
}

.left_list .field__item::before {
    content: "\f560";
    position: absolute;
    font-family: fontAwesome;
    left: 0;
    color: #ffc451;
    font-size: 20px;
}

.article-section__left .field--name-field-para-two {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    color: #444;
    line-height: 1.5;
}

.article-section__right {
    max-width: 636px;
    overflow: hidden;
}

.article-section__right img {
    width: 100%;
    height: 477px;
    object-fit: cover;
    transition: all .4s ease-in-out;
}

.article-section__right img:hover {
    transform: scale(1.2);
    cursor: pointer;
}