.image-slider {
    max-width: 1320px;
    margin: auto;
    margin-top: 60px;
}

.slider-image img {
    max-width: 116px;
    height: 42px;
    object-fit: cover;
    opacity: 0.5;
}

.slider-image .field__item {
    display: flex !important;
    justify-content: center;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;

    list-style-type: none;
}

.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;

    border: none;
    border-radius: 100%;
    background-color: #ddd;

    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    background-color: orange;
}

/* HERO SECTION */

.hero-section {
    display: flex;
    gap: 24px;
    justify-content: center;
    max-width: 1320px;
    margin: auto;
    margin-top: 60px;
}

.hero-image {
    max-width: 660px;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 458px;
    transition: all .4s ease-in;
}

.hero-image img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.hero-grid {
    max-width: 636px;
}

.hero-grid--box {
    padding-left: 60px;
    position: relative;
    margin-bottom: 2rem;
}

.hero-grid--box::before {
    content: "\f1b2";
    position: absolute;
    font-family: fontAwesome;
    left: 0;
    color: #ffc451;
    font-size: 3rem;
}

.hero-grid--box h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-grid--box .field--name-field-griddescription {
    font-size: 15px;
    color: #848484;
}